body {
  padding: 0;
  line-height: inherit;
}

:root {
  view-transition-name: revert !important;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

.flash-logo {
  background: linear-gradient(
    90deg,
    hsl(10deg 100% 75%),
    hsl(140deg 100% 75%) 50%,
    hsl(240deg 100% 75%),
    hsl(320deg 100% 75%),
    hsl(140deg 100% 75%),
    hsl(10deg 100% 75%)
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300% 200%;
  animation: bg-move 2s both linear infinite;
  /* animation-timeline: --section; */
  background-position: 0 0;
}

@keyframes bg-move {
  to {
    background-position: 100% 200%;
  }
}
